<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Veeya</title>
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/assets/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">

    <app-top-navbar></app-top-navbar>

    <div class="container-fluid page-body-wrapper">

      <app-sidebar></app-sidebar>

      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Auction</h4>
                  <div class="timer" *ngIf="auctionOpen">
                    <span>Days: {{ days }}</span>
                    <span>Hours: {{ hours }}</span>
                    <span>Minutes: {{ minutes }}</span>
                    <span>Seconds: {{ seconds }}</span>
                  </div>
                  <div *ngIf="auctionOpen">
                    <button type="button" class="btn btn-inverse-primary btn-rounded btn-fw" (click)="endAuction()">End Auction</button>
                  </div>
                  <div *ngIf="userType=='Investor'">
                    <button class="btn btn-inverse-primary btn-rounded btn-fw" (click)="addBidModal()"
                      [disabled]="!auctionOpen">Add bid
                    </button>
                  </div>
                  <div *ngIf="!auctionOpen">
                    <em><small>Auction has been completed.</small></em>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Amount</th>
                        <th>Profile</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="bids?.length > 0">
                      <tr *ngFor="let bid of bids">
                        <td>{{ bid?.bidPlacedDate }}</td>
                        <td>{{ bid?.bidPlacedTime }}</td>
                        <td>{{ bid?.firstName }}</td>
                        <td>{{ bid?.lastName }}</td>
                        <td>{{ bid?.city }}</td>
                        <td>{{ bid?.state }}</td>
                        <td>{{ bid?.amount }}</td>
                        <td><a [routerLink]="['/user/' + bid?.userId]">View User</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Add Bid MODAL -->
          <div class="modal fade" id="addBidModal" tabindex="-1" role="dialog"
                    aria-labelledby="addBidModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addBidModal">Add Bid</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="forms-sample" #addBidForm="ngForm">
                    <div class="form-group">
                      <label for="bidAmount">Bid Amount</label>
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id="bidAmount"
                          #bidAmount="ngModel"
                          name="bidAmount"
                          [(ngModel)]="newBid.amount"
                          maxlength="12"
                          pattern="^[a-zA-Z0-9,.$ ]*$"
                          required
                        >
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button id="addBidConfirm" type="button"
                    class="btn btn-primary"
                    [disabled]="addBidForm.invalid"
                    (click)="addBid()"
                  >Confirm
                  </button>
                </div>
              </div>
            </div>
          </div> <!-- END MODAL -->


        </div> <!-- content-wrapper ends -->


        <app-footer></app-footer>

      </div> <!-- main-panel ends -->


    </div> <!-- page-body-wrapper ends -->



  </div> <!-- container-scroller -->


</body>

</html>
