<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <div class="navbar-brand brand-logo-mini" href="../../index.html"><img src="/assets/images/logo-mini.svg" alt="logo"/></div>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="icon-menu"></span>
    </button>
    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
      <li class="nav-item">
        <a href="/assets/pages/apps/gallery.html" class="nav-link"><i class="mdi mdi-image-filter"></i>About</a>
      </li>
      <li class="nav-item">
        <a href="../../pages/apps/email.html" class="nav-link"><i class="mdi mdi-email-outline"></i>Support</a>
      </li>
      <li class="nav-item">
        <a href="../../pages/apps/calendar.html" class="nav-link"><i class="mdi mdi-calendar"></i>Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()"><i class="mdi mdi-calendar"></i>Logout</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-settings d-none d-lg-block">
        <a class="nav-link" (click)="userProfile()">
          <img class="img-xs rounded-circle" src="{{ currentUser?.profilePhoto }}" alt="">
        </a>
      </li>
      <li class="nav-item nav-settings d-none d-lg-block">
        <a class="nav-link" (click)="userProfile()">
          <div>{{ currentUser?.firstName }} {{ currentUser?.lastName }}</div>
        </a>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>