#new-sidebar {
  position: fixed;
  height: 100%;
  width: 255px;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(88deg, #002e63, #005b96);
  overflow-y: scroll;

  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
}