.sidebar-nav {
  padding: 0;
  list-style: none;
  position: fixed;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  margin-top: 10px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav li a:hover {
  background: #16A085;
}