<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item"> <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/dashboard']">
      <span class="menu-title">Dashboard</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="authService.loggedIn() && authService.wholesalerUser()" [routerLink]="['/addproperty']">
        <span class="menu-title">Add Property</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/properties']"><span class="menu-title">View Properties</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/connections']"><span class="menu-title">Connections</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="authService.loggedIn() && authService.wholesalerUser()" [routerLink]="['/inviteinvestor']"><span class="menu-title">Invite Investor</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="authService.loggedIn() && authService.investorUser()" [routerLink]="['/invitewholesaler']"><span class="menu-title">Invite Wholesaler</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/invitelender']"><span class="menu-title">Invite Lender</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/search']"><span class="menu-title">Search</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="authService.loggedIn() && authService.investorUser()" [routerLink]="['/placeDealAd']"><span class="menu-title">Place Ad for Deal</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/viewDealAds']"><span class="menu-title">View Wanted Deals</span></a>
    </li>
    <li class="nav-item" *ngIf="authService.wholesalerUser()">
      <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/uploadlist']">
        <span class="menu-title">Upload Buyers List</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="authService.investorUser()">
      <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/uploadlist']">
        <span class="menu-title">Upload Wholesalers List</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/profile', authService.loggedInUser()]"><span class="menu-title">My Profile</span></a>
    </li>
  </ul>
</nav>