<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Veeya</title>
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/assets/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">

    <app-top-navbar></app-top-navbar>

    <div class="container-fluid page-body-wrapper">

      <app-sidebar></app-sidebar>

      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">
            <div class="col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Welcome to Ads</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 grid-margin stretch-card" *ngFor="let ad of currentAds">
              <div class="card">
                <div class="card-body">
                  <div class="list-wrapper">
                    <ul class="d-flex flex-column todo-list todo-list-custom">
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            City: {{ ad.city }}
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            State: {{ ad.state }}
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            Zip Code: {{ ad.zipCode }}
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            Property Type: {{ ad.propertyType }}
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            Purchase Price: $ {{ ad.purchasePrice }}
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            Bed , Bath: {{ ad.bedrooms }} / {{ ad.bathrooms }}
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            Square Footage: {{ ad.squareFootage }}
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            Year Built: {{ ad.yearBuilt }}
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            Seller Financing Available?: {{ ad.sellerFinancing }}
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            Net Operating Income: $ {{ ad.netOperatingIncome }}
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            Cap Rate: {{ ad.capRate }} %
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            Cash on Cash Return: {{ ad.cashOnCashReturn }} %
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            Internal Return: {{ ad.internalRateOfReturn }} %
                          </label>
                        </div>
                      </li>
                      <li *ngIf="investorUserType">
                        <div class="form-check form-check-flat">
                          <button class="btn btn-inverse-danger btn-rounded btn-fw" (click)="deleteAd(ad._id)">Delete</button>
                        </div>
                      </li>
                      <li *ngIf="wholesalerUserType">
                        <div class="form-check form-check-flat">
                          <label class="form-check-label">
                            Investor: <button class="btn btn-inverse-primary btn-rounded btn-fw"
                                        [routerLink]="['/userprofile/', ad.investor_id]">Profile
                                      </button>
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div> <!-- content-wrapper ends -->



        <app-footer></app-footer>


      </div> <!-- main panel ends -->



    </div> <!-- page-body-wrapper ends -->
  </div> <!-- container-scroller ends -->

</body>

</html>