<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Veeya</title>
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/assets/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">

    <app-top-navbar></app-top-navbar>

    <div class="container-fluid page-body-wrapper">

      <app-sidebar></app-sidebar>

      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">
            <div class="col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Welcome to Ads</h4>
                </div>
              </div>
            </div>
          </div>


          <div class="row" id="table-row">
            <div class="col-xs-12 grid-margin stretch-card" id="responsive-stretch-card">
              <div class="card">
                <div class="card-body">

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">City</th>
                          <th scope="col">State</th>
                          <th scope="col">Zip Code</th>
                          <th scope="col">Property Type</th>
                          <th scope="col">Purchase Price</th>
                          <th scope="col">Bedrooms</th>
                          <th scope="col">Bathrooms</th>
                          <th scope="col">Square Footage</th>
                          <th scope="col">Year Built</th>
                          <th scope="col">Seller Financing</th>
                          <th scope="col">Net Operating Income</th>
                          <th scope="col">Cap Rate %</th>
                          <th scope="col">CoC Return %</th>
                          <th scope="col">Real Return %</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor=" let ad of currentAds; let i = index ">
                          <th scope="row">{{ i + 1 }}</th>
                          <td>{{ ad.city }}</td>
                          <td>{{ ad.state }}</td>
                          <td>{{ ad.zipCode }}</td>
                          <td>{{ ad.propertyType }}</td>
                          <td>{{ ad.purchasePrice }}</td>
                          <td>{{ ad.bedrooms }}</td>
                          <td>{{ ad.bathrooms }}</td>
                          <td>{{ ad.squareFootage }}</td>
                          <td>{{ ad.yearBuilt }}</td>
                          <td>{{ ad.sellerFinancing }}</td>
                          <td>{{ ad.netOperatingIncome }}</td>
                          <td>{{ ad.capRate }}</td>
                          <td>{{ ad.cashOnCashReturn }}</td>
                          <td>{{ ad.internalRateOfReturn }}</td>
                          <td *ngIf="investorUserType">
                            <button class="btn btn-inverse-danger btn-rounded btn-fw" (click)="deleteAd(ad._id)">Delete</button>
                          </td>
                          <td *ngIf="wholesaslerUserType">
                            <button class="btn btn-inverse-primary btn-rounded btn-fw"
                              [routerLink]="['/userprofile/', ad.investor_id]">Profile
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>


                </div>
              </div>
            </div>
          </div>



        </div> <!-- content-wrapper ends -->



        <app-footer></app-footer>


      </div> <!-- main panel ends -->



    </div> <!-- page-body-wrapper ends -->
  </div> <!-- container-scroller ends -->

</body>

</html>