.table-row {
  width: 100%;
  max-width: 100%;
}

#property-photo-wrapper {
  width: 20%;
}

#property-photo {
  width: 120px;
  height: 110px;
  border-radius: 0%;
}

#property-photo:hover {
  cursor: pointer;
}

#property-address-wrapper {
  width: 55%;
}

#property-address-wrapper > a:hover {
  text-decoration: none;
}

#city-state {
  cursor: default;
}

.property-row-right {
  margin-top: 10px;
}