<div class="wrapper">
  <div class="sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>
  <div class="navbar-wrapper">
    <app-top-navbar></app-top-navbar>
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let property of wholesalerProperties">
          <div class="col-md-4 individualProperty">
            <div class="propertyElement propertyPhoto">image {{ property.photos }}</div>
            <div class="propertyElement">{{ property.address }}</div>
            <div class="propertyElement">{{ property.city }}, {{ property.state }} {{ property.zipCode }}</div>
            <div class="propertyElement">${{ property.purchasePrice }}</div>
            <button (click)="viewProperty(property)"></button>
            <div class="propertyElement"><button type="button" class="btn btn-primary" (click)="editProperty(property)">Edit Property</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
