.wrapper {
  height: 100%;
  background-color: #E0E0E0;
}

.form-wrapper {
  width: 100%;
  position: absolute;
  padding-left: 250px;
  border: 1px solid red;
  height: 100vh;
}

#imageContainer {
  position: relative;
  width: 50%;
}

#imageContainer:hover .middle {
  opacity: 1;
}

#propertyImage {
  display: block;
  width: 100%;
  height: auto;
}

#propertyImage:hover {
  opacity: 0.3;
}

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: trans;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}