<p>
  edit-property works!
</p>

<div>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="address">Address</label>
      <input type="text" [(ngModel)]="initialProperty.address" name="address" required>
    </div>
    <div>
      <label for="city">City</label>
      <input type="text" [(ngModel)]="initialProperty.city" name="city" required>
    </div>
    <div>
      <label for="state">State</label>
      <input type="text" [(ngModel)]="initialProperty.state" name="state" required>
    </div>
    <div>
      <label for="zipCode">Zip Code</label>
      <input type="text" [(ngModel)]="initialProperty.zipCode" name="zipCode" required>
    </div>
    <div>
      <label for="purchasePrice">Purchase Price</label>
      <input type="text" [(ngModel)]="initialProperty.purchasePrice" name="purchasePrice" required>
    </div>
    <div>
      <label for="bedrooms">Bedrooms</label>
      <input type="text" [(ngModel)]="initialProperty.bedrooms" name="bedrooms" required>
    </div>
    <div>
      <label for="bathrooms">Bathrooms</label>
      <input type="text" [(ngModel)]="initialProperty.bathrooms" name="bathrooms">
    </div>
    <div>
      <label for="rehabCostMin">Rehab Cost Min</label>
      <input type="text" [(ngModel)]="initialProperty.rehabCostMin" name="rehabCostMin">
    </div>
    <div>
      <label for="rehabCostMax">Rehab Cost Max</label>
      <input type="text" [(ngModel)]="initialProperty.rehabCostMax" name="rehabCostMax">
    </div>
    <div>
      <label for="afterRepairValue">After Repair Value</label>
      <input type="text" [(ngModel)]="initialProperty.afterRepairValue" name="afterRepairValue">
    </div>
    <div>
      <label for="averageRent">Gross Monthly Rent:</label>
      <input type="text" [(ngModel)]="initialProperty.averageRent" name="averageRent">
    </div>
    <div>
      <label for="squareFootage">Square Footage</label>
      <input type="text" [(ngModel)]="initialProperty.squareFootage" name="squareFootage">
    </div>
    <div>
      <label for="propertyType">Property Type</label>
      <input type="text" [(ngModel)]="initialProperty.propertyType" name="propertyType" required>
    </div>
    <div>
      <label for="yearBuilt">Year Built</label>
      <input type="text" [(ngModel)]="initialProperty.yearBuilt" name="yearBuilt">
    </div>
    <div>
      <label for="status">Status</label>
      <input type="text" [(ngModel)]="initialProperty.status" name="status">
    </div>
    <div>
      <label for="comps">Comps</label>
      <input type="text" [(ngModel)]="initialProperty.comps" name="comps">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>