.submit-add-property-btn {
  margin-left: 40%;
}

.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-control.ng-valid.ng-touched {
  border: 1px solid green;
}

#submitBtn:disabled {
  cursor: not-allowed;
}

#updateBtn:disabled {
  cursor: not-allowed;
}

.required-field:after {
  content: " *";
  color: red;
}