.wrapper {
  height: 100%;
  background-color: #E0E0E0;
}

.dashboard-wrapper {
  width: 100%;
  position: absolute;
  padding-left: 250px;
  border: 1px solid red;
  height: 100vh;
}

.add-boxes-wrapper {
  height: 50px;
  border: 1px solid blue;
}

.properties-wrapper {
  margin-top: 300px;
  height: 100px;
  border: 1px solid blue;
}

.properties-box {
  margin-top: 35px;
  border: 1px solid green;
  background-color: #FFFFFF;
  height: 400px;
}

.add-box {
  margin-top: 35px;
  border: 1px solid green;
  background-color: #FFFFFF;
  height: 250px;
  position: relative;
}

.boxTitle {
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  height: 50px;
}

.title-text {
  font-size: 20px;
  line-height: 50px;
  padding-left: 10px;
}

.boxText {
  position: relative;
  height: 150px;
}

#search-box-button {
  margin: 0 auto;
  display: block;
}

#icon {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 785px) {
  .dashboard-wrapper {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1088px) and (min-width: 994px) {
  .title-text {
    padding-left: 0px;
  }
}