<div class="wrapper">
  <div class="sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>
  <div class="navbar-wrapper">
    <app-top-navbar></app-top-navbar>
  </div>
  <div class="dashboard-wrapper">
    <div class="add-boxes-wrapper">
      <div class="container-fluid">

        <!-- Start ADD BOXES row -->
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
            <div class="add-box">
              <div class="boxTitle">
                <span class="title-text">Connect With User</span><fa name="far fa-address-book" size="2x" id="icon"></fa>
              </div>
              <div class="boxText">
                Enter an investor's email or username to connect.
              </div>
              <div class="boxButton">
                <button class="btn btn-primary" id="search-box-button">Connect</button>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
            <div class="add-box">
              <div class="boxTitle">
                <span class="title-text">Add New Property</span><fa name="fas fa-home" size="2x" id="icon"></fa>
              </div>
              <div class="boxText">
                Click below to add a new property.
              </div>
              <div class="boxButton">
                <button class="btn btn-primary" id="search-box-button">Add</button>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
            <div class="add-box">
              <div class="boxTitle">
                <span class="title-text">Search for Investor</span><fa name="fas fa-search" size="2x" id="icon"></fa>
              </div>
              <div class="boxText">
                Click below to search for an investor.
              </div>
              <div class="boxButton">
                <button class="btn btn-primary" id="search-box-button">Search</button>
              </div>
            </div>
          </div>

        </div> <!-- End Add boxes row -->


        <!-- Start Properties Row -->
        <div class="row" id="propertiesRow">
          <div *ngFor="let property of properties" class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="properties-box">
              <div class="property-title">
                {{ property.address }}
              </div>
              <div class="property-image">
                <img src="https://scontent.flas1-1.fna.fbcdn.net/v/t1.0-9/26993322_3918229670408_8250173985738273633_n.jpg?oh=6794919c8e47c6ba7d54143eb3c357a7&oe=5B43F786" href="#" />
              </div>
              <div class="property-price">
                {{ property.purchasePrice }}
              </div>
              <div class="property-address">
                {{ property.city }}, {{ property.state }} {{ property.zipCode }}
              </div>
              <div class="property-property-type">
                {{ property.propertyType }}
              </div>
              <div class="property-bedrooms-bathrooms">
                Bed: {{ property.bedrooms }} Bath: {{ property.bathrooms }}
              </div>
              <div class="property-buttons">
                <button class="btn btn-info">View</button><button class="btn btn-info" (click)="editProperty(property)">Edit</button>
              </div>
            </div>
            <div class="spacer"></div>
          </div> <!-- End ngFor through properties -->
        </div> <!-- End Properties Row -->


      </div> <!-- End container-fluid -->
    </div> <!-- End add-boxes-wrapper -->
  </div> <!-- End dashboard-wrapper -->
    <div class="properties-wrapper">
      <div class="container-fluid">

    </div>
  </div>
</div>