<div class="wrapper">
  <div class="sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>
  <div class="navbar-wrapper">
    <div class="topNavbar">
      <span class="dashboardText">
        <span>Dashboard</span>
      </span>
      <span class="rightNavbarIcons">
        <button type="button" class="btn btn-outline-info" [routerLink]="['/profile']">{{user.firstName}} {{user.lastName}}</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/logout']">Logout</button>
      </span>
    </div>
  </div>
  <div class="dashboard-wrapper">
    <div class="add-boxes-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="add-box">
              Connect With An Investor
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="add-box">
              Add New Property
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="add-box">
              Search For Investor
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="properties-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="properties-box">
              spencer cornelia
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="properties-box">
              spencer cornelia
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="properties-box">
              spencer cornelia
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="properties-box">
              spencer cornelia
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>